.form {
			width: 260px;
			height: 320px;
			position: relative;
			padding-left: 35%;
		}
		.form_action {
			width: 350px;
			height: 350px;
			border: 1px solid #D9DEDF;
			margin: 20px 0 10px 20px;
			padding: 20px 150px 0 20px;
			line-height: 30px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;

		}
		.form_action label {
			float: left;
		}
		.form_action input {
			float: right;
		}
		.form_button {
			width: 350px;
			height: 50px;
			margin-left: 20px;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
		}
		.form_button button {
			margin-left: 110px;
			margin-top: 15px;
			color: #fff;
			border: 1px solid #049104;
  			-moz-border-radius: 10px;
   			-webkit-border-radius: 10px;
  			border-radius: 10px;
  			background: #e2e2e2;
    		background: -moz-linear-gradient(top, #00DE00 0%, #02AA02 50%, #3AC93A 51%, #25B025 100%);
    		background: -webkit-linear-gradient(top, #00DE00 0%, #02AA02 50%,#3AC93A 51%,#25B025 100%);
    		background: -o-linear-gradient(top, #00DE00 0%,#02AA02 50%,#3AC93A 51%,#25B025 100%);
    		background: -ms-linear-gradient(top, #00DE00 0%,#02AA02 50%,#3AC93A 51%,#25B025 100%);
    		background: linear-gradient(top, #00DE00 0%,#02AA02 50%,#3AC93A 51%,#25B025 100%);
		}
		label{
			font-size: 15px;
			font-weight: normal;
			cursor: pointer;
			text-shadow: 1px 1px 0 orange,
						 1px -1px 0 orange,
						-1px 1px 0 orange,
						-1px -1px 0 orange;
			color: white;
			transition: all 1s;
		}
		label:hover {
		text-shadow: 1px 1px 0 yellowgreen,
                 1px -1px 0 yellowgreen,
                 -1px 1px 0 yellowgreen,
                -1px -1px 0 yellowgreen;
		color: white;
		}