
body {
	padding-top:1%;
	padding-left:1.4%;
	padding-right:1.4%;
} 

a {
	text-decoration:none;
}

H1 {
	font-size: 40px;
	font-weight: normal;
	cursor: pointer;
	text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
	color: steelblue;
	transition: all 1s;
}

H1:hover {
	color: yellowgreen;
}

H2 {
	font-size: 30px;
	font-weight: normal;
	text-shadow: 1px 1px white,
               2px 2px #777;
	color: #333;
	transition: all 1s;
}

.content {
	height:80%;
	width:100%
}

.regBlock {
	margin-left:35%;
	margin-right:30%;
	background: #E0FFFF; /* ���� ���� */
    outline: 2px solid #000; /* ׸���� ����� */
    border: 3px solid #fff; /* ����� ����� */
    border-radius: 10px; /* ������ ���������� */
}

.header {
	margin:1px;
	height:20%;
	padding:1px;
	width:100%
}

.imgp {
	float:left;
	margin: 0; 
}
   